D:/Python_Learn/spectra-refract-svr/numpy-1.25.1+mkl-cp39-cp39-win_amd64.whl filter=lfs diff=lfs merge=lfs -text
D:/Python_Learn/spectra-refract-svr/resnet50/resnet50_weights_tf_dim_ordering_tf_kernels_notop.h5 filter=lfs diff=lfs merge=lfs -text
core filter=lfs diff=lfs merge=lfs -text
data_example.txt filter=lfs diff=lfs merge=lfs -text
img filter=lfs diff=lfs merge=lfs -text
logs filter=lfs diff=lfs merge=lfs -text
numpy-1.25.1+mkl-cp39-cp39-win_amd64.whl filter=lfs diff=lfs merge=lfs -text
requirements.bat filter=lfs diff=lfs merge=lfs -text
OptiSVR_Spectral_Refractive_Index_Prediction_System.py filter=lfs diff=lfs merge=lfs -text
actual_data filter=lfs diff=lfs merge=lfs -text
requirements.txt filter=lfs diff=lfs merge=lfs -text
resnet50 filter=lfs diff=lfs merge=lfs -text
saved_models filter=lfs diff=lfs merge=lfs -text
template filter=lfs diff=lfs merge=lfs -text
LICENSE filter=lfs diff=lfs merge=lfs -text
README.md filter=lfs diff=lfs merge=lfs -text
*.whl filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.html filter=lfs diff=lfs merge=lfs -text
